/********UK site********/

body.default-uk {
    margin-top: 95px;
    @media (max-width: @screen-lg) {
        margin-top: 115px;
    }
    @media (max-width: @screen-md) {
        margin-top: 135px;
    }
    @media (max-width: @screen-sm) {
        margin-top: 150px;
    }
    @media (max-width: 420px) {
        margin-top: 165px;
    }
    @media (max-width: 300px) {
        margin-top: 185px;
    }
    //why do we have 2?
    @media (max-width: 268px) {
        margin-top: 250px;
    }
    @media (max-width: 236px) {
        margin-top: 250px;
    }
    .navbar {
        .alert {
            padding: 5px;
            font-size: 12px;
            a {
                font-size: 12px;
            }
        }
    }
    .subpage-feature {
        h2, h3, p {
            font-size: 1px;
            margin: 0;
            text-indent: -9999px;
        }

        img {
              width: 100%
        }
    }
}

@media (max-width: 768px) {
    .default-uk footer #row2 p {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .default-uk .footer-logos {
        text-align: center;
    }
}
