node_modules/
test/
*.zip
.ftppass


# ignore sublime text workspace/project files
*.sublime-workspace
*.sublime-project

assets\css\*

assets/css/smiletrain-bootstrap.css
assets/css/smiletrain-bootstrap.min.css
